@if (ViewBag.ResponseStatus != false)
{
    <div class="col-4">
        <form class="form-group" action="https://localhost:5003/home" method="post" name="getGrid">
            <label><b>Repository Name</b></label>
            <br />
            @Html.DropDownList("Repo", (IEnumerable<SelectListItem>)ViewBag.repoNames, new { @id = "Selection", @class = "form-control", @onchange = "document.cookie = 'repoCookie = ' + this.selectedIndex + '; path=/;' + 'expires= Fri, 31 Dec 9999 23:59:59 GMT'" })
            <br />
            <a class="btn btn-primary" href="#" id="getData">Get Git Analytics</a>
        </form>
    </div>

    <script>
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        window.onload = function () { document.getElementById("Selection").selectedIndex = readCookie("repoCookie"); }
    </script>
    <script>
    $('#getData').click(function (e) {

                e.preventDefault();
                var select = $("#Selection option:selected").val();
                var select2 = $("#Organization option:selected").val();

                $.ajax({
                    url: '@Url.Action("Post", "Post")',
                    type: "POST",
                    data: { 'Repo': select, 'User': select2 },
                    dataType: "text",
                    success: function (result) {
                        $("#postDiv").html(result);
                    },
                    error: function (xhr, status) {
                        alert(status);
                    }
                });
            });
    </script>
}
else
{
<div class="col-4">
    <br />
    <h3 style="color:red">Error: Not authorized.
        <br />
        Please enter a valid token.</h3>
</div>
}


